*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container{
    display: flex;
    justify-content: start;
}

.imgcontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.end{
    padding: 50px 50px;
}